{% extends 'front.twig' %}

{% block content %}
  <h1>All Articles</h1>

  {% if articles is empty %}
    <p>No articles found.</p>
  {% else %}
    {% for article in articles %}
      <div>
        <h2>{{ article.title }}</h2>
        <p>{{ article.date }}</p>
        <p>{{ article.location }}</p>
        <p>{{ article.text|striptags|slice(0, 250) ~ '...' }}</p>
        <a href="article/{{ article.slug }}" target="_blank">Read more</a>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}